<header>
  <h1>Register</h1>
</header>

<form class="example-form">
  
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Enter Name" value="Enter Name" [(ngModel)]="name" name="name">
    </mat-form-field>
    <br>
  
    <mat-form-field>
        <input matInput placeholder="Enter your email" [formControl]="email" [(ngModel)]= "email1"  required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
  
<br>

    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Password *" [(ngModel)]="password" name="password"></textarea>
      <div class="error">{{errM}}</div>
    </mat-form-field>
<br>


    <button mat-raised-button color="primary" (click)= "signUp()">Register</button>
    <br>
    <br>
 

  </form>
