.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.example-button-row button,
.example-button-row a {
margin-right: 8px;
}
.error{
  color: red;
}
